* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 100vw;
  height: 100vh;
  
}

.wrapper {
  display: flex;
  flex-direction: column;
  @media (orientation: landscape) {
    flex-direction: row;
  }
}




