/* ==========  footer==========*/
.footer::before {
    content: "";
    width: 250px;
    height: 8px;
    margin-top:-10px;
    background-color: #ebf3f3;
    position: absolute;
    border-radius: 20px;
    left: 15%;
    margin-bottom: 0px;
    @media (min-width: 600px) {
        transform: rotate(90deg);
        margin-top: 150px;
        left: 52%;

      
    }
  }
  span {
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 24px;
    
  }
  .image-logo-paysage {
    display: none;
    @media (min-width: 600px) {
      width: 100%;
    }
  }
  
  .footer {
    background-image: url("../images/backvert-paysage.jpg");
    background-size: cover;
    background-position: right;
    width: 100%;
    padding: 40px 0;
    border-radius: 20px 20px 0px 0px;
    -webkit-box-shadow: 12px 34px 208px 51px rgba(215,235,245,1);
    -moz-box-shadow: 12px 34px 208px 51px rgba(215,235,245,1);
    box-shadow: 12px 34px 208px 51px rgba(215,235,245,1);
    @media (orientation: landscape) {
    background-image: url("../images/paysage.jpg");
   
    background-size: cover;
    border-radius: 20px 0px 0px 20px;
    -webkit-box-shadow: 12px 34px 208px 51px rgba(215,235,245,1);
    -moz-box-shadow: 12px 34px 208px 51px rgba(215,235,245,1);
    box-shadow: 12px 34px 208px 51px rgba(215,235,245,1);
    }
  }
  
  h3 {
    padding-top:40px; 
    margin-left: 30px;
    font-size: 24px;
    font-family: "Lora", serif;
    font-weight: 700;
    @media (min-width: 600px) {
      margin-top: 270px;
      font-size: 24px;
      margin-left: 40px;
      
    }
  }
  .recipe-of-month {
    display: flex;
    width: 100%;
    @media (orientation: landscape) {
      min-height: 100vh;
      width: 33.333333%;
    }
  }
  