/* ========header ==========*/
/* ==========logo ==========*/
.rond {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #9a9a9a;
    margin: 5px;
  }
  h1 {
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    margin-left: 20px;
    &::before {
      content: "";
      width: 3px;
      height: 50px;
      background-color: #f9b000;
      position: absolute;
      margin-left: -20px;
    }
  }