/* ==========  main ==========*/
.main {
    
    width: 100%;
    position: relative;
    padding: 15px;
    @media (orientation: landscape) {
      width: 66.666666666%;
    }
    &::before {
      content: "";
      width: 40%;
      top: 0;
      bottom: 0;
      left: 0;
      background-color: #f0f8fc;
      position: absolute;
      z-index: -1;
    }
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo-rond-totals {
        padding-right: 20px;
      }
    }
  }
  .recipe__item {
    display: flex;
    @media (orientation: landscape) {
      flex-direction: column;
    }
  }
  /* ==========  les recipes ==========*/
  .recipe1,
  .recipe2,
  .recipe3 {
    margin-top: 30px;
    padding: 0 8px;
   
      
      h2 {
        font-family: "Lora", serif;
        font-weight: 700;
        font-size: 18px;
        @media (min-width: 600px) {
          font-size: 18px;
          margin-left: 10px;
        }
      }
   
    p {
      font-family: "Lora", serif;
      font-weight: 400;
      font-size: 12px;
      color: #727272;
      
      @media (min-width: 600px) {
      display: none;
      }
    }
    button {
      color: #f9b000;
      border-radius: 20px;
      border: 2px solid #f9b000;
      padding: 10px 20px;
      background-color: #fff;
      font-size: 12px;
      font-family: 'Nunito', sans-serif;
      font-weight: 700;

      @media (min-width: 600px) {
        margin-left: 7px;
      }
    }
  }
  .totals-recipes {
    @media (min-width: 600px) {
      display: flex;
      flex-direction: row;
    }
  }
  img.text-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 40px;
    margin-right: 20px;
    @media (min-width: 600px) {
      margin-right: 10px;
      margin-left: 10px;
    }
  }
  .margin-bottom{
      margin-bottom: 40px;
  }
  
  