body {
  margin: 0;
  padding: 0;
}

.contenaire {
  margin: 0 auto;
  margin-left: 40px;
}

.logo-rond-totals {
  float: right;
  margin-top: -60px;
  margin-right: 20px;
}
@media (min-width: 600px) {
  .logo-rond-totals {
    margin-right: 200px;
  }
}

.rond {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #9a9a9a;
  margin: 5px;
}

.recipe1,
.recipe2,
.recipe3 {
  margin-top: 70px;
}
@media (min-width: 600px) {
  .recipe1,
  .recipe2,
  .recipe3 {
    float: right;
  }
}
.recipe1 h2,
.recipe2 h2,
.recipe3 h2 {
  font-family: "Lora", serif;
  font-weight: 700;
}
.recipe1 p,
.recipe2 p,
.recipe3 p {
  font-family: "Lora", serif;
  font-weight: 400;
  color: #727272;
}
.recipe1 button,
.recipe2 button,
.recipe3 button {
  color: #f9b000;
  border-radius: 20px;
  border: 2px solid #f9b000;
  padding: 10px 20px;
  background-color: #fff;
}
@media (min-width: 600px) {
  .recipe1 button,
  .recipe2 button,
  .recipe3 button {
    margin-left: 30px;
  }
}

img.text-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 100px;
  margin-right: 20px;
}
@media (min-width: 600px) {
  img.text-image {
    margin-right: 60px;
    margin-left: 30px;
  }
}

h1 {
  font-size: 40px;
  margin-left: 20px;
}

h1::before {
  content: "";
  width: 3px;
  height: 50px;
  background-color: #f9b000;
  position: absolute;
  margin-left: -20px;
}

h2 {
  font-size: 24px;
}
@media (min-width: 600px) {
  h2 {
    font-size: 18px;
    margin-left: 30px;
  }
}

p {
  font-size: 14px;
}
@media (min-width: 600px) {
  p {
    display: none;
  }
}

h3 {
  font-size: 48px;
  margin-top: -140px;
  margin-left: 20px;
}
@media (min-width: 600px) {
  h3 {
    margin-top: 400px;
    font-size: 24px;
  }
}

img.back-image {
  width: 100%;
  margin-top: 50px;
  margin-left: 0;
  border-radius: 20px 20px 0px 0px;
}
@media (min-width: 600px) {
  img.back-image {
    display: none;
  }
}

.footer::before {
  content: "";
  width: 250px;
  height: 10px;
  background-color: #c1e1e4;
  position: absolute;
  border-radius: 20px;
  left: 15%;
  margin-top: 80px;
  margin-bottom: 0px;
}
@media (min-width: 600px) {
  .footer::before {
    display: none;
  }
}

body::before {
  content: "";
  width: 40%;
  height: 150%;
  background-color: #f0f8fc;
  position: absolute;
  z-index: -1;
}

span {
  font-family: "Lora", serif;
  font-weight: 400;
}

@media (min-width: 600px) {
  .totals-recipes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.image-logo-paysage {
  display: none;
}
@media (min-width: 600px) {
  .image-logo-paysage {
    width: 100%;
  }
}
