/*============les imports==========*/
/*  tous ce que importer comme variables => color;break_point;fonts*/
/* ==========width==========*/
/* ==========colors==========*/
/* ==========container==========*/
.container {
  width: calc(100% - 70px);
  max-width: 750px;
  margin: 0 auto; }
  .container.contenaire--fluid {
    max-width: none; }

/* ========== row ==========*/
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -20px; }

/* ========== grid ==========*/
.col-xs-1 {
  width: calc(8.33333% - 40px);
  margin: 0 20px; }

.col-xs-2 {
  width: calc(16.66667% - 40px);
  margin: 0 20px; }

.col-xs-3 {
  width: calc(25% - 40px);
  margin: 0 20px; }

.col-xs-4 {
  width: calc(33.33333% - 40px);
  margin: 0 20px; }

.col-xs-5 {
  width: calc(41.66667% - 40px);
  margin: 0 20px; }

.col-xs-6 {
  width: calc(50% - 40px);
  margin: 0 20px; }

.col-xs-7 {
  width: calc(58.33333% - 40px);
  margin: 0 20px; }

.col-xs-8 {
  width: calc(66.66667% - 40px);
  margin: 0 20px; }

.col-xs-9 {
  width: calc(75% - 40px);
  margin: 0 20px; }

.col-xs-10 {
  width: calc(83.33333% - 40px);
  margin: 0 20px; }

.col-xs-11 {
  width: calc(91.66667% - 40px);
  margin: 0 20px; }

.col-xs-12 {
  width: calc(100% - 40px);
  margin: 0 20px; }

@media (min-width: 600px) {
  .col-sm-1 {
    width: calc(8.33333% - 40px);
    margin: 0 20px; }
  .col-sm-2 {
    width: calc(16.66667% - 40px);
    margin: 0 20px; }
  .col-sm-3 {
    width: calc(25% - 40px);
    margin: 0 20px; }
  .col-sm-4 {
    width: calc(33.33333% - 40px);
    margin: 0 20px; }
  .col-sm-5 {
    width: calc(41.66667% - 40px);
    margin: 0 20px; }
  .col-sm-6 {
    width: calc(50% - 40px);
    margin: 0 20px; }
  .col-sm-7 {
    width: calc(58.33333% - 40px);
    margin: 0 20px; }
  .col-sm-8 {
    width: calc(66.66667% - 40px);
    margin: 0 20px; }
  .col-sm-9 {
    width: calc(75% - 40px);
    margin: 0 20px; }
  .col-sm-10 {
    width: calc(83.33333% - 40px);
    margin: 0 20px; }
  .col-sm-11 {
    width: calc(91.66667% - 40px);
    margin: 0 20px; }
  .col-sm-12 {
    width: calc(100% - 40px);
    margin: 0 20px; } }

@media (min-width: 700px) {
  .col-md-1 {
    width: calc(8.33333% - 40px);
    margin: 0 20px; }
  .col-md-2 {
    width: calc(16.66667% - 40px);
    margin: 0 20px; }
  .col-md-3 {
    width: calc(25% - 40px);
    margin: 0 20px; }
  .col-md-4 {
    width: calc(33.33333% - 40px);
    margin: 0 20px; }
  .col-md-5 {
    width: calc(41.66667% - 40px);
    margin: 0 20px; }
  .col-md-6 {
    width: calc(50% - 40px);
    margin: 0 20px; }
  .col-md-7 {
    width: calc(58.33333% - 40px);
    margin: 0 20px; }
  .col-md-8 {
    width: calc(66.66667% - 40px);
    margin: 0 20px; }
  .col-md-9 {
    width: calc(75% - 40px);
    margin: 0 20px; }
  .col-md-10 {
    width: calc(83.33333% - 40px);
    margin: 0 20px; }
  .col-md-11 {
    width: calc(91.66667% - 40px);
    margin: 0 20px; }
  .col-md-12 {
    width: calc(100% - 40px);
    margin: 0 20px; } }

@media (min-width: 1200px) {
  .col-lg-1 {
    width: calc(8.33333% - 40px);
    margin: 0 20px; }
  .col-lg-2 {
    width: calc(16.66667% - 40px);
    margin: 0 20px; }
  .col-lg-3 {
    width: calc(25% - 40px);
    margin: 0 20px; }
  .col-lg-4 {
    width: calc(33.33333% - 40px);
    margin: 0 20px; }
  .col-lg-5 {
    width: calc(41.66667% - 40px);
    margin: 0 20px; }
  .col-lg-6 {
    width: calc(50% - 40px);
    margin: 0 20px; }
  .col-lg-7 {
    width: calc(58.33333% - 40px);
    margin: 0 20px; }
  .col-lg-8 {
    width: calc(66.66667% - 40px);
    margin: 0 20px; }
  .col-lg-9 {
    width: calc(75% - 40px);
    margin: 0 20px; }
  .col-lg-10 {
    width: calc(83.33333% - 40px);
    margin: 0 20px; }
  .col-lg-11 {
    width: calc(91.66667% - 40px);
    margin: 0 20px; }
  .col-lg-12 {
    width: calc(100% - 40px);
    margin: 0 20px; } }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 100vw;
  height: 100vh; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media (orientation: landscape) {
    .wrapper {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; } }

/* ========header ==========*/
/* ==========logo ==========*/
.rond {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #9a9a9a;
  margin: 5px; }

h1 {
  font-size: 30px;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  margin-left: 20px; }
  h1::before {
    content: "";
    width: 3px;
    height: 50px;
    background-color: #f9b000;
    position: absolute;
    margin-left: -20px; }

/* ==========  main ==========*/
.main {
  width: 100%;
  position: relative;
  padding: 15px; }
  @media (orientation: landscape) {
    .main {
      width: 66.666666666%; } }
  .main::before {
    content: "";
    width: 40%;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #f0f8fc;
    position: absolute;
    z-index: -1; }
  .main header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .main header .logo-rond-totals {
      padding-right: 20px; }

.recipe__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (orientation: landscape) {
    .recipe__item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

/* ==========  les recipes ==========*/
.recipe1,
.recipe2,
.recipe3 {
  margin-top: 30px;
  padding: 0 8px; }
  .recipe1 h2,
  .recipe2 h2,
  .recipe3 h2 {
    font-family: "Lora", serif;
    font-weight: 700;
    font-size: 18px; }
    @media (min-width: 600px) {
      .recipe1 h2,
      .recipe2 h2,
      .recipe3 h2 {
        font-size: 18px;
        margin-left: 10px; } }
  .recipe1 p,
  .recipe2 p,
  .recipe3 p {
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 12px;
    color: #727272; }
    @media (min-width: 600px) {
      .recipe1 p,
      .recipe2 p,
      .recipe3 p {
        display: none; } }
  .recipe1 button,
  .recipe2 button,
  .recipe3 button {
    color: #f9b000;
    border-radius: 20px;
    border: 2px solid #f9b000;
    padding: 10px 20px;
    background-color: #fff;
    font-size: 12px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700; }
    @media (min-width: 600px) {
      .recipe1 button,
      .recipe2 button,
      .recipe3 button {
        margin-left: 7px; } }

@media (min-width: 600px) {
  .totals-recipes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; } }

img.text-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 40px;
  margin-right: 20px; }
  @media (min-width: 600px) {
    img.text-image {
      margin-right: 10px;
      margin-left: 10px; } }

.margin-bottom {
  margin-bottom: 40px; }

/* ==========  footer==========*/
.footer::before {
  content: "";
  width: 250px;
  height: 8px;
  margin-top: -10px;
  background-color: #ebf3f3;
  position: absolute;
  border-radius: 20px;
  left: 15%;
  margin-bottom: 0px; }
  @media (min-width: 600px) {
    .footer::before {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      margin-top: 150px;
      left: 52%; } }

span {
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 24px; }

.image-logo-paysage {
  display: none; }
  @media (min-width: 600px) {
    .image-logo-paysage {
      width: 100%; } }

.footer {
  background-image: url("../images/backvert-paysage.jpg");
  background-size: cover;
  background-position: right;
  width: 100%;
  padding: 40px 0;
  border-radius: 20px 20px 0px 0px;
  -webkit-box-shadow: 12px 34px 208px 51px #d7ebf5;
  -moz-box-shadow: 12px 34px 208px 51px #d7ebf5;
  box-shadow: 12px 34px 208px 51px #d7ebf5; }
  @media (orientation: landscape) {
    .footer {
      background-image: url("../images/paysage.jpg");
      background-size: cover;
      border-radius: 20px 0px 0px 20px;
      -webkit-box-shadow: 12px 34px 208px 51px #d7ebf5;
      -moz-box-shadow: 12px 34px 208px 51px #d7ebf5;
      box-shadow: 12px 34px 208px 51px #d7ebf5; } }

h3 {
  padding-top: 40px;
  margin-left: 30px;
  font-size: 24px;
  font-family: "Lora", serif;
  font-weight: 700; }
  @media (min-width: 600px) {
    h3 {
      margin-top: 270px;
      font-size: 24px;
      margin-left: 40px; } }

.recipe-of-month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }
  @media (orientation: landscape) {
    .recipe-of-month {
      min-height: 100vh;
      width: 33.333333%; } }
