@mixin abs ($top, $right,$bottom,$left){
    position: absolute;
    top:$top;
    right: $right;
    bottom: $bottom;
    left:$left ;
}
/* ==========Mixin de  font de text==========*/
@mixin font_texte ($font-size, $font-weight:400, $color: $black) {
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
}
    